body {
  overflow-x: hidden;
}

.fade-enter {
  opacity: 0.01;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 15000ms ease-in;
}
.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 15000ms ease-in;
}

.auth-enter {
  opacity: 0.01;
  width: 0;
}
.auth-enter.auth-enter-active {
  opacity: 1;
  width: 500px;
  transition: all 200ms ease-in;
}
.auth-exit {
  opacity: 1;
  width: 500px
}

.auth-exit.auth-exit-active {
  opacity: 0.01;
  width: 0;
  transition: all 200ms ease-in;
}
